/* components/ChatBox.module.css */
.chatBox {
    display: flex;
    flex-direction: column;
    height: 420px;
    width: 110%;
    max-width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
   
  }

  .chatMessages {
    flex: 1;
    overflow-y: auto;
    padding-right: 5px;
    margin-bottom: 10px;
  }
  
  .message {
    margin-bottom: 10px;
  }
  
  .timestamp {
    font-size: 0.2rem;
    color: #363636;
    margin-right: 5px;
  }
  
  .chatInput {
    display: flex;
    flex-direction: column;
  }
  
  .chatInput input {
    padding: 8px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 5px;
  }
  
  .chatInput button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    background: #E4003A;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s;
    box-sizing: border-box;
  }
  
  .chatInput button:hover {
    background: #E4003A;
  }
  
  @media (max-width: 600px) {
    .chatBox {
      height: 300px;
      max-width: 100%;
    }
  }
  